{% extends "users/base.html" %}
{% load static %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron" style="background: linear-gradient(45deg, #695b5b, #343c3d, #404d56)">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            This is <b>user registration and login system</b> to <strong>Linc Academy</strong>
            <img src="{% static 'img/Linc-Academy-Logo-blue.png' %}" width="500" height="auto" alt="">
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}