{% load static %}
<!DOCTYPE html>
	<html lang="en" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="icon" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32" />
        <link rel="icon" href="{% static 'img/favicon-192x192.png' %}" sizes="192x192" />
        <link rel="apple-touch-icon" href="{% static 'img/favicon-180x180.png' %}" />
		<!-- Author Meta -->
		<meta name="author" content="collins">
		<!-- Meta Description -->
		<meta name="description" content="A leading learning platform that foster skills development in various fields of study">
		<!-- Meta Keyword -->
        <meta itemprop="image" content="{% static 'img/Linc-Academy-Logo_White.png' %}">
        <meta itemprop="description" content="A leading learning platform that foster skills development in various fields of study">
        <meta itemprop="name" content="Linc Academy">
		<meta name="keywords" content="Computer Science, Software engineering, Medical courses, django, Mpesa">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Linc Academy</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'css/nice-select.css' %}css/nice-select.css">
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
			<link rel="stylesheet" href="{% static 'css/main.css' %}">
		</head>
		<body>
		  <header id="header">
	  		<div class="header-top">
	  			<div class="container">
			  		<div class="row">
			  			<div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
			  				<ul>
								<li><a href="https://www.facebook.com/collins.lincoln.331"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/Lincoln_331"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/in/collins-ochieng-9b2303251/"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/collins.linc/"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://github.com/Collins331"><i class="fa fa-github"></i></a></li>
			  				</ul>
			  			</div>
			  			<div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
			  				<a href="tel:+254 797 450 093"><span class="lnr lnr-phone-handset"></span> <span class="text">+254 797 450 093</span></a>
			  				<a href="mailto:ochiengcollinsoduor2@gmail.com"><span class="lnr lnr-envelope"></span> <span class="text">linc@gmail.com</span></a>
			  			</div>
			  		</div>
	  			</div>
			</div>
		    <div class="container main-menu">
		    	<div class="row align-items-center justify-content-between d-flex">
			      <div id="logo">
			        <a href="{% url 'linc:home' %}"><img style="object-fit: cover" src="{% static 'img/Linc-Academy-Badge.png' %}" width="100" height="100" alt="" title="" /></a>
			      </div>
			      <nav id="nav-menu-container">
			        <ul class="nav-menu">
			          <li><a href="{% url 'linc:home' %}">Home</a></li>
			          <li><a href="{% url 'linc:about' %}">About</a></li>
			          <li><a href="{% url 'linc:courses' %}">Courses</a></li>
			          <li><a href="{% url 'linc:events' %}">Events</a></li>
			          <li><a href="{% url 'linc:gallery' %}">Gallery</a></li>
			          <li class="menu-has-children"><a href="">Blog</a>
			            <ul>
			              <li><a href="{% url 'linc:blog_home' %}">Blog Home</a></li>
			              <li><a href="{% url 'linc:blog_single' %}">Blog Single</a></li>
			            </ul>
			          </li>
			          <li class="menu-has-children"><a href="">Pages</a>
			            <ul>
		              		<li><a href="{% url 'linc:course_details' %}">Course Details</a></li>
		              		<li><a href="{% url 'linc:event_details' %}">Event Details</a></li>
			                <li><a href="{% url 'linc:elements' %}">Elements</a></li>
					          <li class="menu-has-children"><a href="">Level 2 </a>
					            <ul>
					              <li><a href="#">Item One</a></li>
					              <li><a href="#">Item Two</a></li>
					            </ul>
					          </li>
			            </ul>
			          </li>
			          <li><a href="{% url 'linc:contact' %}">Contact</a></li>
			        </ul>
			      </nav><!-- #nav-menu-container -->
		    	</div>
		    </div>
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
		  </header><!-- #header -->
        {% block body %}

        {% endblock %}

			<!-- start footer Area -->
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4>Top Products</h4>
								<ul>
									<li><a href="#">Managed Website</a></li>
									<li><a href="#">Manage Reputation</a></li>
									<li><a href="#">Power Tools</a></li>
									<li><a href="#">Marketing Service</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4>Quick links</h4>
								<ul>
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Brand Assets</a></li>
									<li><a href="#">Investor Relations</a></li>
									<li><a href="#">Terms of Service</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4>Features</h4>
								<ul>
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Brand Assets</a></li>
									<li><a href="#">Investor Relations</a></li>
									<li><a href="#">Terms of Service</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4>Resources</h4>
								<ul>
									<li><a href="#">Guides</a></li>
									<li><a href="#">Research</a></li>
									<li><a href="#">Experts</a></li>
									<li><a href="#">Agencies</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4>Newsletter</h4>
								<p>Stay update with our latest</p>
								<div class="" id="mc_embed_signup">
									 <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
									  <div class="input-group">
									    <input class="form-control" name="EMAIL" placeholder="Enter Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required="" type="email">
									    <div class="input-group-btn">
									      <button class="btn btn-default" type="submit">
									        <span class="lnr lnr-arrow-right"></span>
									      </button>
									    </div>
									    	<div class="info"></div>
									  </div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom row align-items-center justify-content-between">
						<p class="footer-text m-0 col-lg-6 col-md-12">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://github.com/Collins331" target="_blank">Collins</a> &amp; distributed by <a href="https://github.com/Collins331" target="_blank">Collins</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						<div class="col-lg-6 col-sm-12 footer-social">
							<a href="https://www.facebook.com/collins.lincoln.331"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/Lincoln_331"><i class="fa fa-twitter"></i></a>
							<a href="https://www.linkedin.com/in/collins-ochieng-9b2303251/"><i class="fa fa-linkedin"></i></a>
							<a href="https://www.instagram.com/collins.linc/"><i class="fa fa-instagram"></i></a>
                            <a href="https://github.com/Collins331"><i class="fa fa-github"></i></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->


			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static 'js/easing.min.js' %}"></script>
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    		<script src="{% static 'js/jquery.tabs.min.js' %}"></script>
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>
			<script src="{% static 'js/mail-script.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
		</body>
	</html>