{% extends 'base.html' %}
{% load static %}
{% block title %} Events {% endblock %}
{% block body %}

			<!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Events
							</h1>
							<p class="text-white link-nav"><a href="{% url 'linc:home' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="events.html"> Events</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start events-list Area -->
			<section class="events-list-area section-gap event-page-lists">

				<div class="container">
                    <div class="d-grid gap-2 col-6 mx-auto m-5">
                        <a href="{% url 'linc:addevent' %}">
                            <button class="btn btn-primary" type="button">Add Event</button>
                        </a>
                    </div>
                    {% if data %}
					<div class="row align-items-center">
                        {% for day in data %}
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="media/{{ day.poster }}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									<p>{{ day.date }}</p>
									<a href="{{ day.link }}" target="_blank"><h4>{{ day.title }}</h4></a>
									<p>
										{{ day.detail }}
									</p>
								</div>
							</div>
						</div>
                        {% endfor %}
					</div>
                    {% endif %}
				</div>
			</section>
			<!-- End events-list Area -->


			<!-- Start cta-two Area -->
			<section class="cta-two-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 cta-left">
							<h1>Not Yet Satisfied with our Trend?</h1>
						</div>
						<div class="col-lg-4 cta-right">
							<a class="primary-btn wh" href="{% url 'linc:blog_home' %}">view our blog</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End cta-two Area -->
{% endblock %}