<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to Lin Academy</h1>
    {% block content %} {% endblock %}
    <p>
      <strong>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum beatae
        exercitationem dolor nulla nemo ratione, minima unde natus soluta enim
        sequi laborum porro. Asperiores ea necessitatibus, doloribus neque
        numquam obcaecati?
      </strong>
    </p>
  </body>
</html>
